.fz-12 {
  font-size: 12px;
}
.fz-14 {
  font-size: 14px;
}
.w-320px {
  width: 320px;
}
.w-584px {
  width: 584px;
}
.w-984px {
  width: 984px;
}
.py-16px {
  padding-top: 16px;
  padding-bottom: 16px;
}
.textarea-padding {
  padding: 16px 24px;
}
